/** ServicesSection.css **/

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.serv-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  font-family: "Playfair Display", serif;
  background-color: #333437;
  color: #f5f5f5;
}

.serv-sec-text {
  text-align: center;
  margin-bottom: 20px;
}

.serv-sec-line {
  width: 115px;
  height: 5px;
  background-color: #e1b711;
  border-radius: 9px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.serv-sec-sub-heading {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: -1px;
}
.serv-sec-heading {
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -1.5px;
}

.serv-container {
  display: flex;
  position: relative;
  padding: 40px 60px 80px;
  justify-content: center;
  align-items: center;
}

.serv-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
}

.serv-box {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  background: transparent;
  box-shadow: 2px 2px 5px #e1b711;
  transition: background-color 0.4s, transform 0.4s, box-shadow 0.3s;
}

.serv-icon {
  height: 38px;
  margin: 15px 0;
  color: #e1b711;
}

.serv-title {
  font-size: 2.8rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0 30px 10px;
}

.serv-desc {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin: 0 30px 20px;
}

.serv-box:hover {
  background-color: #f5f5f5;
  transform: scale(1.05);
  box-shadow: 1px 1px 4px #f5f5f5;
}

.serv-box:hover .serv-title {
  color: #333437;
}

.serv-box:hover .serv-desc {
  color: #333437;
}

.serv-box:hover .serv-btn {
  box-shadow: 0px 0px 3px #909090;
}

.serv-box:hover .serv-icon {
  color: #333437;
}

.serv-box .serv-btn:link,
.serv-box .serv-btn:visited {
  display: inline-block;
  text-decoration: none;
  padding: 8px 15px;
  border-radius: 10px;
  font-size: 1.5rem;
  font-weight: 600;
  letter-spacing: -1px;
  color: #333437;
  transition: all 0.5s;
}

.serv-box .serv-btn:hover,
.serv-box .serv-btn:active {
  font-size: 1.6rem;
  font-weight: 700;
  background-color: #333437;
  color: #e1b711;
  letter-spacing: -0.5px;
  cursor: pointer;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1130px) {
  .serv-row {
    grid-gap: 25px;
  }
  .serv-box h2 {
    font-size: 2.25rem;
  }
  .serv-box p {
    font-size: 1.15rem;
  }
  .serv-box a {
    padding: 6px 12px;
    font-size: 1.15rem;
  }
}

@media only screen and (max-width: 886px) {
  .serv-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 20px;
  }
}

@media only screen and (max-width: 615px) {
  .serv-row {
    grid-template-columns: repeat(1, 1fr);
  }
}
