/** ServicesSection.css **/

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.serv-section {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  background-color: #333437;
  color: #f5f5f5;
  font-family: "Cormorant Garamond", serif;
}

.serv-sec-text {
  text-align: center;
  margin-bottom: 20px;
}

.serv-sec-line {
  width: 95px;
  height: 5px;
  background-color: #e1b711;
  border-radius: 9px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.serv-sec-sub-heading {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: -1px;
}
.serv-sec-heading {
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -1.5px;
}

.serv-container {
  display: flex;
  position: relative;
  padding: 40px 60px 80px;
  justify-content: center;
  align-items: center;
}

.serv-row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 50px;
}

.serv-box {
  text-align: center;
  padding: 25px 10px;
  border-radius: 5px;
  background: transparent;
  box-shadow: 2px 2px 5px #e1b711;
  transition: background-color 0.4s, transform 0.4s, box-shadow 0.3s;
}

.serv-icon {
  height: 38px;
  margin: 15px 0;
  color: #e1b711;
}

.serv-sec-title {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -1px;
  margin: 0 30px 10px;
}

.serv-sec-desc {
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: -0.5px;
  margin: 0 30px 20px;
}

.serv-box .serv-btn {
  font-size: 2rem;
  padding: 1.8rem 0;
  overflow: visible;
}
.serv-btn {
  position: relative;
  box-sizing: border-box;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 2.4rem 4rem;
  margin: 0;
  border-radius: 9px;
  overflow: visible;
}
.serv-btn:link,
.serv-btn:visited {
  position: relative;
  background-color: #333437;
  color: #f5f5f5;
}
.serv-btn {
  transition: none;
  transition-duration: 0.3s;
}
.serv-btn:after {
  content: "";
  display: block;
  position: absolute;
  border-radius: 9px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 0 0 2.4rem 4rem #333437;
}
.serv-btn:active:after {
  box-shadow: 0 0 0 0 #333437;
  position: absolute;
  border-radius: 9px;
  left: 0;
  top: 0;
  opacity: 1;
  transition: 0s;
}
.serv-btn:active {
  top: 1px;
}

.serv-box:hover {
  background-color: #f5f5f5;
  transform: scale(1.05);
  box-shadow: 1px 1px 4px #f5f5f5;
}

.serv-box:hover .serv-sec-title {
  color: #333437;
}

.serv-box:hover .serv-sec-desc {
  color: #333437;
}

.serv-box:hover .serv-btn:link,
.serv-box:hover .serv-btn:visited {
  color: #f5f5f5;
}

.serv-box:hover .serv-icon {
  color: #333437;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1622px) {
  .serv-sec-sub-heading {
    font-size: 3.1rem;
  }
  .serv-sec-heading {
    font-size: 7.2rem;
  }
  .serv-sec-title {
    font-size: 2.8rem;
  }
  .serv-sec-desc {
    font-size: 2rem;
  }
  .serv-box .serv-btn {
    font-size: 1.7rem;
    padding: 0.7rem 1.7rem;
  }
}

@media only screen and (max-width: 1494px) {
  .serv-sec-sub-heading {
    font-size: 3rem;
  }
  .serv-sec-heading {
    font-size: 6.8rem;
  }
  .serv-sec-title {
    font-size: 2.7rem;
  }
  .serv-sec-desc {
    font-size: 1.9rem;
  }
  .serv-box .serv-btn {
    font-size: 1.6rem;
    padding: 0.6rem 1.6rem;
  }
}

@media only screen and (max-width: 1305px) {
  .serv-sec-sub-heading {
    font-size: 2.9rem;
  }
  .serv-sec-heading {
    font-size: 6.2rem;
  }
  .serv-sec-title {
    font-size: 2.6rem;
  }
  .serv-sec-desc {
    font-size: 1.8rem;
  }
  .serv-box .serv-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 1142px) {
  .serv-row {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 25px;
  }
  .serv-sec-sub-heading {
    font-size: 2.8rem;
  }
  .serv-sec-heading {
    font-size: 6rem;
  }
  .serv-sec-title {
    font-size: 2.6rem;
  }
  .serv-sec-desc {
    font-size: 1.8rem;
  }
  .serv-box .serv-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 998px) {
  .serv-sec-sub-heading {
    font-size: 3rem;
  }
  .serv-sec-heading {
    font-size: 6.6rem;
  }
  .serv-sec-title {
    font-size: 2.6rem;
  }
  .serv-sec-desc {
    font-size: 1.8rem;
  }
}

@media only screen and (max-width: 772px) {
  .serv-row {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: auto;
    grid-gap: 20px;
  }
  .serv-sec-sub-heading {
    font-size: 2.8rem;
  }
  .serv-sec-heading {
    font-size: 6.2rem;
  }
  .serv-sec-title {
    font-size: 2.5rem;
  }
  .serv-sec-desc {
    font-size: 1.7rem;
  }
  .serv-box .serv-btn {
    font-size: 1.7rem;
    padding: 0.7rem 1.7rem;
  }
}

@media only screen and (max-width: 626px) {
  .serv-sec-sub-heading {
    font-size: 2.4rem;
  }
  .serv-sec-heading {
    font-size: 5.2rem;
  }
  .serv-sec-title {
    font-size: 2.4rem;
  }
  .serv-sec-desc {
    font-size: 1.6rem;
  }
  .serv-box .serv-btn {
    font-size: 1.6rem;
    padding: 0.6rem 1.6rem;
  }
}

@media only screen and (max-width: 508px) {
  .serv-sec-sub-heading {
    font-size: 2.3rem;
  }
  .serv-sec-heading {
    font-size: 4.4rem;
  }
  .serv-sec-title {
    font-size: 2.4rem;
  }
  .serv-sec-desc {
    font-size: 1.7rem;
  }
  .serv-box .serv-btn {
    font-size: 1.7rem;
    padding: 0.7rem 1.7rem;
  }
}

@media only screen and (max-width: 435px) {
  .serv-sec-sub-heading {
    font-size: 2.1rem;
  }
  .serv-sec-heading {
    font-size: 5rem;
  }
  .serv-sec-title {
    font-size: 2.4rem;
  }
  .serv-sec-desc {
    font-size: 1.7rem;
  }
  .serv-box .serv-btn {
    font-size: 1.7rem;
    padding: 0.7rem 1.7rem;
  }
}

/* iPhone 14 */
@media only screen and (max-width: 390px) {
  .serv-sec-sub-heading {
    font-size: 2rem;
  }
  .serv-sec-heading {
    font-size: 4.8rem;
  }
  .serv-sec-title {
    font-size: 2.3rem;
  }
  .serv-sec-desc {
    font-size: 1.5rem;
  }
  .serv-box .serv-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 372px) {
  .serv-sec-sub-heading {
    font-size: 1.9rem;
  }
  .serv-sec-heading {
    font-size: 5rem;
  }
  .serv-sec-title {
    font-size: 2.3rem;
  }
  .serv-sec-desc {
    font-size: 1.5rem;
  }
  .serv-box .serv-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 322px) {
  .serv-sec-sub-heading {
    font-size: 1.6rem;
  }
  .serv-sec-heading {
    font-size: 4.8rem;
  }
  .serv-sec-title {
    font-size: 2.3rem;
  }
  .serv-sec-desc {
    font-size: 1.5rem;
  }
  .serv-box .serv-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
  }
}

@media only screen and (max-width: 291px) {
  .serv-sec-sub-heading {
    font-size: 1.5rem;
  }
  .serv-sec-heading {
    font-size: 4.2rem;
  }
  .serv-sec-title {
    font-size: 2.3rem;
  }
  .serv-sec-desc {
    font-size: 1.5rem;
  }
  .serv-box .serv-btn {
    font-size: 1.5rem;
    padding: 0.5rem 1.5rem;
  }
}
