.carousel {
  width: 1200px;
  height: 600px;
  margin: auto;
}
@media (max-width: 900px) {
  .carousel {
    width: auto;
    height: auto;
  }
}

.carousel-caption {
  background-color: #144272;
}
.whatWeDo {
  background-color: #144272;
  max-width: 100%;
}
.whatWeDoText {
  color: white;
  font-size: 52px;
}
.carousel-control-next-icon {
  size: 52px;
}
