.carousel {
  width: 1200px;
  height: 600px;
  margin: auto;
  font-size: 32px;
}
@media (max-width: 900px) {
  .carousel {
    width: auto;
    height: auto;
  }
}

.carousel-caption {
  background-color: #262626;
}
.whatWeDo {
  background-color: #ffffff;
  max-width: 100%;
  padding: 6rem 0 26rem;
}
