/** Hero.css **/

:root {
  --primary-white: #f5f5f5;
  --secondary-dark-grey: #333437;
  --tertiary-light-grey: #909090;
  --accent-yellow: #e1b711;
  --accent-pink: #ff6584;
  --accent-blue: #4b77bc;
}

*,
*:before,
*:after,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
}

.hero {
  background-color: var(--primary-white);
  background: linear-gradient(
    135deg,
    rgba(245, 245, 245, 1) 35%,
    rgba(51, 52, 55, 1) 100%
  );
  color: var(--secondary-dark-grey);
}

.hero-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1000;
  pointer-events: none;
  transition: background-color 1s ease;
}

.hero-overlay--primary-initial {
  background-color: #e1b711;
}

.hero-overlay--secondary-initial {
  background-color: #ff6584;
}

.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
}

.hero-section > * {
  flex: 1 1 40em;
  transition: margin-left 0.3s ease;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0 auto;
}

.hero-line {
  width: 80px;
  height: 5px;
  background-color: #ff6584;
  border-radius: 9px;
  margin-bottom: 1rem;
}

.hero-sub-heading {
  font-size: clamp(1.6rem, 2.3vw, 3rem);
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 10px;
}

.hero-heading {
  font-size: clamp(4rem, 7vw, 9rem);
  font-weight: 700;
  line-height: 0.8;
  margin-bottom: 20px;
}

.hero-description {
  font-size: clamp(1.8rem, 2.3vw, 3rem);
  line-height: 1.15;
  margin-bottom: 25px;
}

.hero-btns {
  display: inline-flex;
  gap: 12px;
}

.hero-btn {
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  font-size: clamp(0.7rem, 2.3vw, 2.5rem);
  font-weight: 500;
  letter-spacing: 1px;
  padding: clamp(0.5rem, 1.5vw, 2rem) clamp(0.7rem, 1.5vw, 3rem);
  border-radius: 9px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--secondary-dark-grey);
  color: var(--primary-white);
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
}

.hero-btn span {
  position: relative;
  z-index: 1;
}

.hero-btn:hover {
  color: var(--primary-white);
}

.hero-btn::before,
.hero-btn::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: width 0.3s, height 0.3s;
}

.primary-btn::before {
  background-color: #e1b711;
}

.secondary-btn::before {
  background-color: #ff6584;
}

.hero-btn:hover::before {
  width: 100px;
  height: 100px;
  transition: width 0.3s ease, height 0.3s ease;
}

.hero-btn:active::before,
.primary-btn--clicked::before,
.secondary-btn--clicked::before,
.primary-btn--clicked:hover::before,
.secondary-btn--clicked:hover::before {
  width: 550px;
  height: 300px;
  transition: width 0.5s ease, height 0.5s ease;
}

.hero-img {
  max-width: 120%;
  object-fit: cover;
}

/** RESPONSIVENESS **/

/* Fix Btn/Image Collision */
@media only screen and (max-width: 1168px) {
  .hero-btns {
    gap: 7px;
  }
  .hero-btn {
    font-size: clamp(1.4rem, 1.9vw, 2rem);
    padding: clamp(1.6rem, 2.5vw, 1.8rem) clamp(1.2rem, 2.5vw, 1.8rem);
  }
}

/* Switch from Landscape to Portrait */
@media only screen and (max-width: 903px) {
  .hero-section {
    min-height: 80%;
    max-width: 90%;
  }
  .hero-text {
    margin: calc(20% + 9%) 0 4%;
  }
  .hero-sub-heading {
    font-weight: 700;
    margin-bottom: 7px;
  }
  .hero-heading {
    margin-bottom: 10px;
  }
  .hero-description {
    margin-bottom: 12px;
  }
  .hero-btn {
    overflow: visible;
    transition: none;
    transition-duration: 0.2s;
  }
  .hero-btn:hover {
    top: -1px;
  }
  .hero-btn:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 9px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s;
    box-shadow: 0 0 clamp(0.5rem, 2.5vw, 1.8rem) clamp(0.7rem, 2.5vw, 1.8rem)
      #333437;
  }
  .hero-btn:active:after {
    box-shadow: 0 0 0 0 #333437;
    position: absolute;
    border-radius: 9px;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
  }
  .hero-btn:active {
    top: 1px;
  }
  .hero-img-box {
    align-self: flex-start;
  }
  .hero-img {
    max-width: 103%;
  }
}

/* 340 px - smallest viewport to consider */
