/** ContactPage.css **/

:root {
  --primary-white: #f5f5f5;
  --secondary-dark-grey: #333437;
  --tertiary-light-grey: #909090;
  --tertiary-darker-grey: #4e4e4e;
  --accent-yellow: #e1b711;
  --accent-dark-yellow: #e1b71190;
  --accent-pink: #ff6584;
  --accent-blue: #4b77bc;
}

*,
*:before,
*:after,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.contact-main {
  background-color: var(--accent-yellow);
  background-image: linear-gradient(
    62deg,
    var(--accent-yellow) 0%,
    var(--secondary-dark-grey) 100%
  );
  padding: 4rem 0 0;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  font-family: "Cormorant Garamond", serif;
}

.contact-text {
  max-width: 800px;
  text-align: center;
  color: var(--secondary-dark-grey);
}

.contact-sub-heading {
  font-size: clamp(1.6rem, 2.3vw, 3rem);
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 50px;
}

.contact-heading {
  font-size: clamp(4rem, 5vw, 6.5rem);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.contact-cta {
  display: inline-flex;
  gap: 50px;
}

/* LEFT PAGE */

.contact-main-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  flex: 1;
  max-width: auto;
}

.contact-box {
  display: flex;
  position: relative;
  padding: 20px 0 0 140px;
}

.contact-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(1.2rem, 2.3vw, 1.8rem);
  min-width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: var(--secondary-dark-grey);
}

.contact-icon img {
  width: 50px;
  height: auto;
}

.contact-details {
  display: flex;
  flex-direction: column;
  margin-left: 15px;
}

.contact-title {
  font-size: clamp(1.2rem, 2.3vw, 2rem);
  font-weight: 700;
  color: var(--secondary-dark-grey);
}

.contact-desc {
  font-size: clamp(1rem, 2.3vw, 1.6rem);
  font-weight: 400;
  color: var(--primary-white);
}

/* RIGHT PAGE */

.contact-main-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  flex: 1;
}

.contact-form {
  min-width: 550px;
  padding: 40px;
  background: var(--secondary-dark-grey);
  border-radius: 5%;
}

.contact-form-heading {
  font-size: clamp(2.2rem, 2.3vw, 2.6rem);
  font-weight: 800;
  color: var(--primary-white);
}

.input-field {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.input-field input,
.input-field textarea {
  width: 100%;
  padding: 5px 0;
  font-size: clamp(1.4rem, 2.3vw, 2rem);
  margin: 10px 0;
  border: none;
  border-bottom: 3px solid var(--accent-yellow);
  outline: none;
  resize: none;
  color: var(--primary-white);
  background: var(--secondary-dark-grey);
}

.input-field label {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 2rem;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: var(--tertiary-light-grey);
}

.contact-form button {
  width: 115px;
  height: 50px;
  background: var(--tertiary-darker-grey);
  color: var(--accent-yellow);
  border-color: var(--accent-yellow);
  cursor: pointer;
  padding: 10px;
  font-size: clamp(1.4rem, 2.3vw, 2rem);
}

/** RESPONSIVENESS **/

/* Switch from Landscape to Portrait */
@media only screen and (max-width: 1070px) {
  .contact-container {
    padding: 0 2rem;
  }
  .contact-text {
    max-width: auto;
    margin-top: 70px;
  }
  .contact-sub-heading {
    font-size: clamp(1.6rem, 2.3vw, 3rem);
    font-weight: 600;
    line-height: 1.15;
    margin-bottom: 40px;
  }
  .contact-heading {
    font-size: clamp(4rem, 5vw, 6.5rem);
    font-weight: 700;
    line-height: 1;
    margin-bottom: 10px;
  }
  .contact-main-right {
    margin-bottom: 50px;
  }
  .contact-cta {
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 60%;
  }
  .contact-form {
    align-content: center;
    justify-content: center;
    min-width: 100%;
    padding: 60px;
  }
  /* Not center aligning? Do I want it to? */
  .input-field {
    align-content: center;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  .contact-cta {
    min-width: 80%;
  }
  .contact-form {
    min-width: 100%;
    padding: 70px 50px;
  }
}

@media only screen and (max-width: 500px) {
  .contact-cta {
    min-width: 100%;
  }
  .contact-form {
    min-width: 100%;
    padding: 70px 30px;
  }
}
