/** ContactPage.css **/

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contact {
  position: relative;
  min-height: 100vh;
  padding: 50px 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #e1b711;
  background-image: linear-gradient(62deg, #e1b711 0%, #333437 100%);
  font-family: "Cormorant Garamond", serif;
}

.contact .content {
  max-width: 800px;
  text-align: center;
}

.contact .content h2 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: 2.5px;
  color: #d1d0c5;
}

.contact .content p {
  font-size: 2.5rem;
  font-weight: 500;
  letter-spacing: -1px;
  color: #d1d0c5;
}

.container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.container .contact-info {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.container .contact-info .box {
  position: relative;
  padding: 20px 0 0 140px;
  display: flex;
}

.container .contact-info .box .icon {
  min-width: 75px;
  height: 75px;
  background: #333437;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  font-size: 25px;
}

.container .contact-info .box .icon img {
  width: 50px;
  height: auto;
}

.container .contact-info .box .text {
  display: flex;
  flex-direction: column;
  margin-left: 20px;
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  color: #d1d0c5;
}

.container .contact-info .box .text h3 {
  font-weight: 600;
  color: #333437;
}

.contact-form {
  min-width: 450px;
  width: 40%;
  padding: 40px;
  background: #333437;
  border-radius: 5%;
}

.contact-form h2 {
  font-size: 2.5rem;
  font-weight: 700;
  color: #d1d0c5;
  font-weight: 500;
}

.contact-form .input-field {
  position: relative;
  width: 100%;
  margin-top: 10px;
}

.contact-form .input-field input,
.contact-form .input-field textarea {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  border: none;
  border-bottom: 3px solid #e1b711;
  outline: none;
  resize: none;
  color: #fff;
  background: #333437;
}

.contact-form .input-field label {
  position: absolute;
  left: 0;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #d1d0c5;
}

.contact-form button {
  width: 115px;
  height: 50px;
  background: #333437;
  color: #e1b711;
  border-color: #e1b711;
  cursor: pointer;
  padding: 10px;
  font-size: 18px;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1100px) {
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
  }
  .container .contact-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    margin: 20px 0;
  }

  .container .contact-info .box {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0;
    margin: 10px 0;
  }

  .container .contact-info .box .icon {
    padding: 0;
    width: 75px;
    min-height: 75px;
    border-radius: 50%;
  }

  .container .contact-info .box .text {
    padding: 0;
    margin-left: 0;
  }

  .contact-form {
    margin-top: 20px;
  }

  .contact-form h2,
  .contact-form .send-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }

  .contact-form .send-btn {
    margin-top: 20px;
  }
}

@media only screen and (max-width: 460px) {
  .contact-form {
    min-width: 325px;
  }
  .contact-form h2 {
    font-size: 2rem;
  }
  .contact-form label {
    font-size: 1px;
  }
  .contact-form .input-field input,
  .contact-form .input-field textarea {
    font-size: 1.5rem;
  }
  .contact-form .input-field label {
    font-size: 1.5rem;
  }
  .contact-form button {
    font-size: 1.75rem;
  }
  .contact .content h2 {
    font-size: 3rem;
  }
  .contact .content p {
    font-size: 1.75rem;
    line-height: 1.3;
  }
}
