/**************************/
/* HEADER SECTION */
/**************************/

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: "Aleo", sans-serif;
  line-height: 1;
  font-weight: 400;
  height: 9.6rem;
  padding: 20px;
  color: #fff;
  background-color: #262626;
}

.logo img {
  max-width: 50%;
  margin-right: auto;
  margin-left: 0;
}

nav .main-nav-link {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

nav .main-nav-link {
  margin-left: 20px;
  text-decoration: none;
  color: #333;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
}

/**************************/
/* NAVIGATION */
/**************************/

.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link:link,
.main-nav-link:visited {
  display: inline-block;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.8rem;
  transition: all 0.3s;
}

.main-nav-link:hover,
.main-nav-link:active {
  color: #374dc3;
}

.main-nav-link.nav-cta:link,
.main-nav-link.nav-cta:visited {
  padding: 1.2rem 2.4rem;
  border-radius: 9px;
  color: #fff;
  background-color: #374dc3;
}

.main-nav-link.nav-cta:hover,
.main-nav-link.nav-cta:active {
  background-color: #212e75;
}
