/** AboutSection.css **/

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.about-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #333437;
}

.about-sec-container {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: auto;
  max-width: 2080px;
  padding: 4rem 0 0 14rem;
}

/* LEFT PAGE */

.about-sec-line {
  width: 115px;
  height: 5px;
  background-color: #4b77bc;
  border-radius: 9px;
  margin-bottom: 1rem;
}

.about-sec-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  z-index: 2;
  margin-bottom: 3.5rem;
  color: #f5f5f5;
  opacity: 1;
}

.about-text--hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.about-sec-sub-heading {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.about-sec-heading {
  font-size: 7.6rem;
  font-weight: 800;
  letter-spacing: -2px;
  line-height: 0.9;
}

.about-sec-titles {
  font-size: 2.9rem;
  font-weight: 600;
  letter-spacing: -1.5px;
  color: #909090;
  margin: 2rem 0;
}

.dot {
  color: #4b77bc;
}

.about-sec-description {
  font-size: 2.8rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 1.1;
  margin: 0.5rem 20rem 0 0;
}

.about-sec-cta {
  display: flex;
  align-items: flex-start;
}

.about-sec-icons {
  display: inline-flex;
}

.about-sec-icon-group {
  opacity: 1;
  align-items: center;
  width: 115px;
}

.about-sec-icon-group--hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.about-sec-icon-group a {
  text-decoration: none;
}

.about-sec-icon-group .about-sec-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70px;
  margin-bottom: 5px;
}

.about-sec-icon-group .about-sec-icon-text {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.3px;
  color: #909090;
  opacity: 0;
  transition: all 0.3s;
}

.about-sec-icon-group:hover .about-sec-icon-text {
  opacity: 1;
}

.about-sec-icon-text:hover {
  color: #e1b711;
}

.about-sec-btn {
  padding: 2rem 3rem;
  border-radius: 9px;
  overflow: hidden;
}

.tertiary-btn {
  text-decoration: none;
  font-size: 2.4rem;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 2rem 3rem;
  border-radius: 9px;
  transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
}

.tertiary-btn:link,
.tertiary-btn:visited {
  position: relative;
  background-color: #909090;
  color: #333437;
}

.tertiary-btn:hover,
.tertiary-btn:active {
  background-color: #333437;
  color: #f5f5f5;
  box-shadow: inset 0 0 0 3px #4b77bc;
}

.tertiary-btn--hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.tertiary-btn span,
.tertiary-btn span {
  position: relative;
  z-index: 1;
}

.tertiary-btn::before,
.tertiary-btn::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: width 0.3s, height 0.3s;
}

.tertiary-btn::before {
  background-color: #e1b711;
  z-index: 1;
}

.tertiary-btn:hover::before {
  width: 120px;
  height: 120px;
  transition: width 0.3s ease, height 0.3s ease;
}

.tertiary-btn:active::before,
.tertiary-btn--clicked::before,
.tertiary-btn--clicked:hover::before {
  width: 550px;
  height: 300px;
  transition: width 0.5s ease, height 0.5s ease;
}

.about-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1000;
  pointer-events: none;
  transition: background-color 1s ease;
}

.about-overlay--active {
  background-color: rgb(0, 0, 0);
}

.about-overlay--tertiary-initial {
  background-color: #4b77bc;
}

/* RIGHT PAGE */

.about-sec-img-box {
  opacity: 1;
  max-width: 100%;
  transform: translate(-8%, 2%);
}

.about-sec-img-box--hidden {
  opacity: 0;
  transition: opacity 1s ease;
}

.about-sec-img {
  width: 75%;
  height: auto;
  border-radius: 50%;
  box-shadow: 0 16px 30px 0 rgba(0, 0, 0, 0.16),
    0 22px 35px 0 rgba(0, 0, 0, 0.12);
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1622px) {
  .about-sec-container {
    padding-left: 12rem;
  }
  .about-sec-sub-heading {
    font-size: 3.1rem;
  }
  .about-sec-heading {
    font-size: 7.2rem;
  }
  .about-sec-titles {
    font-size: 2.8rem;
  }
  .about-sec-description {
    font-size: 2.7rem;
    margin: 0.5rem 14rem 0 0;
  }
  .about-sec-btn .tertiary-btn {
    font-size: 2.3rem;
    padding: 2rem 3rem;
  }
  .about-sec-img-box {
    transform: translate(-2%, 5%);
  }
  .about-sec-img {
    width: 80%;
  }
}

@media only screen and (max-width: 1494px) {
  .about-sec-container {
    padding-left: 10rem;
  }
  .about-sec-sub-heading {
    font-size: 3rem;
  }
  .about-sec-heading {
    font-size: 6.8rem;
  }
  .about-sec-titles {
    font-size: 2.7rem;
  }
  .about-sec-description {
    font-size: 2.6rem;
    margin: 0.5rem 12rem 0 0;
  }
  .about-sec-btn .tertiary-btn {
    font-size: 2.2rem;
    padding: 2rem 3rem;
  }
  .about-sec-img-box {
    transform: translate(2%, 4%);
  }
  .about-sec-img {
    width: 85%;
  }
}

@media only screen and (max-width: 1305px) {
  .about-sec-container {
    padding-left: 8rem;
  }
  .about-sec-sub-heading {
    font-size: 2.9rem;
  }
  .about-sec-heading {
    font-size: 6.2rem;
  }
  .about-sec-titles {
    font-size: 2.4rem;
  }
  .about-sec-description {
    font-size: 2.4rem;
    margin: 0.5rem 10rem 0 0;
  }
  .about-sec-btn .tertiary-btn {
    font-size: 2rem;
    padding: 2rem 3rem;
  }
  .about-sec-img-box {
    transform: translate(2%, 5%);
  }
  .about-sec-img {
    width: 90%;
  }
}

@media only screen and (max-width: 1142px) {
  .about-sec-container {
    padding-left: 6rem;
  }
  .about-sec-sub-heading {
    font-size: 2.8rem;
  }
  .about-sec-heading {
    font-size: 6rem;
  }
  .about-sec-titles {
    font-size: 2.2rem;
  }
  .about-sec-description {
    font-size: 2.2rem;
    margin: 0.5rem 8rem 0 0;
  }
  .about-sec-img-box {
    transform: translate(0, 6%);
  }
  .about-sec-img {
    width: 95%;
  }
}

@media only screen and (max-width: 998px) {
  .about-section {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .about-sec-container {
    margin: 8rem 0 0;
    padding: 0;
    height: 100%;
  }
  .about-sec-text {
    text-align: center;
    align-items: center;
    margin: 0;
    padding: 0;
  }
  .about-sec-sub-heading {
    font-size: 3rem;
  }
  .about-sec-heading {
    font-size: 6.6rem;
  }
  .about-sec-titles {
    font-size: 2.8rem;
  }
  .about-sec-description {
    font-size: 2.6rem;
    padding: 0 10rem 2rem;
    margin: 0;
    transform: translate(0, 170%);
  }
  .about-sec-titles span {
    display: flex;
    flex-direction: column;
    line-height: 0.6;
  }
  .dot {
    visibility: collapse;
  }
  .about-sec-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .about-sec-btn {
    margin: 0 0 0 0;
    transform: translate(0, 790%);
  }
  .about-sec-icons {
    margin-left: 30px;
    transform: translate(0, 215%);
  }
  .about-sec-icon-group {
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;
  }
  .about-sec-img-box {
    text-align: center;
    margin: 4rem 0 0;
    padding: 0 0 8rem;
    transform: translate(0, -105%);
  }
  .about-sec-img {
    width: 60%;
    height: auto;
    margin: 0;
  }
}

@media only screen and (max-width: 869px) {
  .about-sec-description {
    transform: translate(0, 140%);
  }
  .about-sec-btn {
    transform: translate(0, 800%);
  }
  .about-sec-icons {
    transform: translate(0, 215%);
  }
  .about-sec-img-box {
    transform: translate(0, -115%);
  }
}

@media only screen and (max-width: 772px) {
  .about-sec-sub-heading {
    font-size: 2.8rem;
  }
  .about-sec-heading {
    font-size: 6.2rem;
  }
  .about-sec-titles {
    font-size: 2.6rem;
  }
  .about-sec-description {
    font-size: 2.4rem;
    padding: 0 6rem 2rem;
    transform: translate(0, 180%);
  }
  .about-sec-btn {
    transform: translate(0, 740%);
  }
  .about-sec-btn .tertiary-btn {
    font-size: 2.1rem;
    padding: 1.8rem 2.8rem;
  }
  .about-sec-icons {
    transform: translate(0, 215%);
  }
  .about-sec-img-box {
    transform: translate(0, -107%);
  }
}

@media only screen and (max-width: 741px) {
  .about-sec-description {
    transform: translate(0, 155%);
  }
  .about-sec-btn {
    transform: translate(0, 765%);
  }
  .about-sec-icons {
    transform: translate(0, 222%);
  }
  .about-sec-img-box {
    transform: translate(0, -110%);
  }
}

@media only screen and (max-width: 626px) {
  .about-sec-sub-heading {
    font-size: 2.4rem;
  }
  .about-sec-heading {
    font-size: 5.2rem;
  }
  .about-sec-titles {
    font-size: 2.2rem;
  }
  .about-sec-description {
    font-size: 2rem;
    padding: 0 4rem 2rem;
    transform: translate(0, 200%);
  }
  .about-sec-btn {
    transform: translate(0, 805%);
  }
  .about-sec-btn .tertiary-btn {
    font-size: 1.8rem;
    padding: 1.6rem 2.6rem;
  }
  .about-sec-icons {
    transform: translate(0, 205%);
  }
  .about-sec-img-box {
    transform: translate(0, -132%);
  }
  .about-sec-img {
    width: 55%;
  }
}

@media only screen and (max-width: 605px) {
  .about-sec-description {
    transform: translate(0, 165%);
  }
}

@media only screen and (max-width: 508px) {
  .about-sec-sub-heading {
    font-size: 2.3rem;
  }
  .about-sec-heading {
    font-size: 4.4rem;
  }
  .about-sec-titles {
    font-size: 2rem;
  }
  .about-sec-description {
    font-size: 1.8rem;
    padding: 0 2rem 2rem;
    transform: translate(0, 175%);
  }
  .about-sec-btn {
    transform: translate(0, 880%);
  }
  .about-sec-btn .tertiary-btn {
    font-size: 1.6rem;
    padding: 1.4rem 2.2rem;
  }
  .about-sec-icons {
    transform: translate(0, 195%);
  }
  .about-sec-img-box {
    transform: translate(0, -155%);
  }
  .about-sec-img {
    width: 50%;
  }
}

@media only screen and (max-width: 435px) {
  .about-sec-sub-heading {
    font-size: 2.1rem;
  }
  .about-sec-heading {
    font-size: 5rem;
  }
  .about-sec-titles {
    font-size: 2rem;
  }
  .about-sec-description {
    font-size: 1.9rem;
    transform: translate(0, 145%);
  }
  .about-sec-btn {
    transform: translate(0, 850%);
  }
  .about-sec-btn .tertiary-btn {
    font-size: 1.7rem;
    padding: 1.3rem 2rem;
  }
  .about-sec-icons {
    transform: translate(0, 205%);
  }
  .about-sec-img-box {
    transform: translate(0, -135%);
  }
}

/* iPhone 14 */
@media only screen and (max-width: 390px) {
  .about-sec-sub-heading {
    font-size: 2rem;
  }
  .about-sec-heading {
    font-size: 4.8rem;
  }
  .about-sec-titles {
    font-size: 1.9rem;
  }
  .about-sec-description {
    font-size: 1.8rem;
    transform: translate(0, 145%);
  }
  .about-sec-btn {
    transform: translate(0, 850%);
  }
  .about-sec-btn .tertiary-btn {
    font-size: 1.6rem;
    padding: 1.6rem 2rem;
  }
  .about-sec-icons {
    transform: translate(0, 190%);
  }
  .about-sec-img-box {
    transform: translate(0, -140%);
  }
}

@media only screen and (max-width: 372px) {
  .about-sec-sub-heading {
    font-size: 1.9rem;
  }
  .about-sec-heading {
    font-size: 5rem;
  }
  .about-sec-titles {
    font-size: 1.8rem;
  }
  .about-sec-description {
    font-size: 1.6rem;
    transform: translate(0, 140%);
  }
  .about-sec-btn {
    transform: translate(0, 760%);
  }
  .about-sec-img {
    width: 175px;
  }
  .about-sec-icons {
    transform: translate(0, 165%);
  }
  .about-sec-img-box {
    transform: translate(0, -147%);
  }
}

@media only screen and (max-width: 322px) {
  .about-sec-sub-heading {
    font-size: 1.6rem;
  }
  .about-sec-heading {
    font-size: 4.8rem;
  }
  .about-sec-titles {
    font-size: 1.5rem;
  }
  .about-sec-description {
    font-size: 1.4rem;
    transform: translate(0, 165%);
  }
  .about-sec-btn {
    transform: translate(0, 775%);
  }
  .about-sec-img {
    width: 170px;
  }
  .about-sec-icons {
    transform: translate(0, 175%);
  }
  .about-sec-img-box {
    transform: translate(0, -157%);
  }
}

@media only screen and (max-width: 291px) {
  .about-sec-sub-heading {
    font-size: 1.5rem;
  }
  .about-sec-heading {
    font-size: 4.2rem;
  }
  .about-sec-titles {
    font-size: 1.5rem;
  }
  .about-sec-description {
    font-size: 1.3rem;
    transform: translate(0, 165%);
  }
  .about-sec-btn {
    transform: translate(0, 750%);
  }
  .about-sec-img {
    width: 160px;
  }
  .about-sec-icons {
    transform: translate(0, 165%);
  }
  .about-sec-img-box {
    transform: translate(0, -175%);
  }
}

@media only screen and (max-width: 274px) {
  .about-sec-description {
    transform: translate(0, 150%);
  }
  .about-sec-btn {
    transform: translate(0, 750%);
  }
  .about-sec-icons {
    transform: translate(0, 170%);
  }
  .about-sec-img-box {
    transform: translate(0, -175%);
  }
}
