/** AboutSection.css **/

:root {
  --primary-white: #f5f5f5;
  --secondary-dark-grey: #333437;
  --tertiary-light-grey: #909090;
  --tertiary-darker-grey: #4e4e4e;
  --accent-yellow: #e1b711;
  --accent-pink: #ff6584;
  --accent-blue: #4b77bc;
}

*,
*:before,
*:after,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.about-section {
  background-color: var(--secondary-dark-grey);
  color: var(--primary-white);
}

.about-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 1000;
  pointer-events: none;
  transition: background-color 1s ease;
}

.about-overlay--tertiary-initial {
  background-color: var(--accent-blue);
}

.about-sec-container {
  display: flex;
  align-items: center;
  min-height: 100vh;
  max-width: 90%;
  margin: 0 auto;
  font-family: "Cormorant Garamond", serif;
}

.about-sec-img {
  max-width: 120%;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.5);
}

.img-hidden {
  display: none;
}

.about-sec-text {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  margin: 0 auto;
  max-width: 60%;
}

.about-sec-line {
  width: 80px;
  height: 5px;
  background-color: var(--accent-blue);
  border-radius: 9px;
  margin-bottom: 1rem;
}

.about-sec-sub-heading {
  font-size: clamp(1.6rem, 2.3vw, 3rem);
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 10px;
}

.about-sec-heading {
  font-size: clamp(4rem, 5vw, 6.5rem);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.about-sec-titles {
  color: var(--tertiary-light-grey);
  font-size: clamp(2rem, 2.3vw, 2.2rem);
  line-height: 1.15;
  margin-bottom: 15px;
}

.dot {
  color: #4b77bc;
}

.about-sec-description {
  font-size: clamp(1.8rem, 2.3vw, 3rem);
  line-height: 1.15;
  margin-bottom: 25px;
}

.about-sec-cta {
  display: inline-flex;
  align-items: center;
  gap: 35px;
}

.about-sec-icons {
  display: inline-flex;
  gap: 30px;
}
.about-sec-icon {
  width: 65px;
}

.about-sec-btn-box {
  display: flex;
}

.about-sec-btn {
  box-sizing: border-box;
  position: relative;
  text-decoration: none;
  user-select: none;
  cursor: pointer;
  font-size: clamp(0.7rem, 2.3vw, 2.5rem);
  font-weight: 500;
  letter-spacing: 1px;
  padding: clamp(0.5rem, 1.5vw, 2rem) clamp(0.7rem, 1.5vw, 3rem);
  border-radius: 9px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  background-color: var(--tertiary-darker-grey);
  color: var(--primary-white);
  overflow: hidden;
  transition: 0.6s cubic-bezier(0.01, 1.69, 0.99, 0.94);
}

.about-sec-btn span {
  position: relative;
  z-index: 1;
}

.about-sec-btn:hover {
  color: var(--primary-white);
}

.about-sec-btn::before {
  content: "";
  position: absolute;
  top: var(--y);
  left: var(--x);
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: width 0.3s, height 0.3s;
}

.tertiary-btn::before {
  background-color: var(--accent-blue);
}

.about-sec-btn:hover::before {
  width: 100px;
  height: 100px;
  transition: width 0.3s ease, height 0.3s ease;
}

.about-sec-btn:active::before,
.tertiary-btn--clicked::before,
.tertiary-btn--clicked:hover::before {
  width: 550px;
  height: 300px;
  transition: width 0.5s ease, height 0.5s ease;
}

/** RESPONSIVENESS **/

@media only screen and (max-width: 1168px) {
  .about-sec-btn {
    font-size: clamp(1.4rem, 1.9vw, 2rem);
    padding: clamp(1.6rem, 2.5vw, 1.8rem) clamp(1.2rem, 2.5vw, 1.8rem);
  }
}

/* Switch from Landscape to Portrait */
@media only screen and (max-width: 903px) {
  .about-sec-container {
    display: flex;
    align-items: flex-start;
    min-height: 80%;
    max-width: 90%;
  }
  .about-sec-img-box {
    margin-bottom: calc(0% + 2%);
  }
  .about-sec-img {
    max-width: 70%;
  }
  .about-sec-text {
    align-items: flex-start;
    text-align: left;
    margin: calc(10% + 9%) 0 0;
    max-width: 100%;
  }
  .about-sec-sub-heading {
    font-weight: 700;
    margin-bottom: 7px;
  }
  .about-sec-heading {
    margin-bottom: 10px;
  }
  .about-sec-titles {
    margin-bottom: 10px;
  }
  .about-sec-titles span {
    display: flex;
    flex-direction: column;
    line-height: 0.6;
  }
  .dot {
    visibility: collapse;
  }
  .about-sec-description {
    margin-bottom: 12px;
  }
  .about-sec-cta {
    flex-direction: row-reverse;
    margin: 0 0 calc(10% + 9%);
  }
  .about-sec-btn {
    overflow: visible;
    transition: none;
    transition-duration: 0.2s;
  }
  .about-sec-btn:hover {
    top: -1px;
  }
  .about-sec-btn:after {
    content: "";
    display: block;
    position: absolute;
    border-radius: 9px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: all 0.2s;
    box-shadow: 0 0 clamp(0.5rem, 2.5vw, 1.8rem) clamp(0.7rem, 2.5vw, 1.8rem)
      #333437;
  }
  .about-sec-btn:active:after {
    box-shadow: 0 0 0 0 #333437;
    position: absolute;
    border-radius: 9px;
    left: 0;
    top: 0;
    opacity: 1;
    transition: 0s;
  }
  .about-sec-btn:active {
    top: 1px;
  }
}

/* 340 px - smallest viewport to consider */
