/**************************/
/* ABOUT SECTION */
/**************************/

.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #333437;
}

.about-sec-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  margin-bottom: 10vh;
}

.about-sec-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  flex: 1;
}

.about-sec-heading {
  margin-bottom: 1rem;
  font-family: "Playfair Display", serif;
  color: #f5f5f5;
}

.about-sec-heading h2 {
  font-size: 4rem;
  font-weight: 700;
  letter-spacing: -2px;
}

.about-sec-sub-heading {
  margin-bottom: 1.5rem;
  font-family: "Playfair Display", italic;
  color: #909090;
}

.about-sec-sub-heading h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.about-sec-description {
  margin-bottom: 2.8rem;
  font-family: "Playfair Display", serif;
  color: #f5f5f5;
}

.about-sec-description p {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.about-sec-img-box {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-items: center;
  z-index: 1;
}

.about-sec-img {
  max-width: 100%;
  height: auto;
  border-radius: 50%;
}

.about-sec-img img {
  width: 220px;
  height: auto;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border-radius: 50%;
}

.icons {
  display: flex;
  justify-content: flex-start;
  margin-top: 1rem;
}

.icons .icon-group {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1.2rem;
  width: 150px;
  height: auto;
  border: 9px;
  position: relative;
  margin-right: 1.2rem;
}

.icon-group-curved {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
}

.icon-group-curved:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 5px solid #909090;
  border-radius: 10px;
  z-index: -1;
}

.icons img {
  width: 75px;
  height: 70px;
  margin-bottom: 0.5rem;
}

.icon-text {
  margin-left: 0.5rem;
  margin-top: 0.5rem;
  overflow: hidden;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.icon-text a {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.3px;
  color: #909090;
  display: block;
}

.icon-text a:link,
.icon-text a:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: -0.3px;
  color: #909090;
  transition: all 0.3s;
}

.icon-text a:hover,
.icon-text a:active {
  color: #e1b711;
}

.about-btn:link,
.about-btn:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  font-weight: 600;
  padding: 1.6rem 3.2rem;
  border-radius: 10px;
  transition: all 0.3s;
  background-color: #909090;
  color: #333437;
}

.about-btn-primary:link,
.about-btn-primary:visited {
  background-color: #909090;
  color: #333437;
}

.about-btn-primary:hover,
.about-btn-primary:active {
  background-color: #333437;
  color: #f5f5f5;
  box-shadow: inset 0 0 0 3px #909090;
}

/* Responsiveness */

@media (max-width: 1130px) {
  .about-sec-heading {
    font-size: 3.2rem;
  }
  .about-sec-sub-heading {
    font-size: 1.6rem;
  }
  .about-sec-description {
    font-size: 2.8rem;
  }

  .about-btn:link,
  .about-btn:visited {
    font-size: 1.6rem;
    padding: 1.4rem 2rem;
  }
}

@media (max-width: 873px) {
  .about-section,
  .about-sec-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    padding-bottom: 2rem;
  }
  .about-sec-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 12rem 3.2rem 2rem;
  }
  .about-sec-heading {
    font-size: 2rem;
  }
  .about-sec-sub-heading {
    font-size: 1rem;
  }
  .about-sec-description {
    font-size: 1.8rem;
    letter-spacing: 0;
  }
}
