/** Footer.css **/

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.footer {
  background-color: #333437;
  color: #f5f5f5;
  font-family: "Cormorant Garamond", serif;
}

.foot-container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  min-height: 10vh;
  padding: 10px 50px 0;
}

.foot-icons,
.foot-nav {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  margin: 15px 0 5px;
  gap: 10px;
  flex-wrap: wrap;
}

.foot-icon-item,
.foot-nav-item {
  list-style: none;
}

.foot-icon {
  display: inline-block;
  transition: 0.5s;
}

.foot-icon:hover {
  transform: translateY(-5px);
}

.foot-icon-img {
  width: 40px;
  height: auto;
}

.foot-nav-link {
  display: inline-block;
  text-decoration: none;
  font-size: 2rem;
  color: #f5f5f5;
  transition: 0.3s;
}

/* Fixes styles from '_reboot..scss' */
.foot-nav-link a {
  color: #f5f5f5;
}

.foot-nav-link:hover {
  color: #4b77bc;
}

.foot-nav-text {
  font-size: 1.4rem;
  color: #909090;
  text-align: center;
  margin: 5px 0 15px;
}
