/**************************/
/* FOOTER */
/**************************/

.foot-sec {
  min-height: 30vh;
  background-color: #333437;
  color: #d1d0c5;
  font-family: "Playfair Display", serif;
}

.foot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.foot-row {
  display: flex;
  flex-direction: row;
}

.foot-col {
  display: flex;
  flex-direction: row;
  margin: 2.5rem 0.5rem 0 2rem;
}

.foot-col.first-col {
  min-width: 38rem;
}

.foot-col.second-col {
  min-width: 22rem;
}

.foot-col.third-col {
  min-width: 55rem;
}

.foot-col h3 {
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: -1px;
}

.foot-col ul {
  list-style: none;
  line-height: 1.6;
  padding-top: 0.5rem;
}

.foot-col li {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.foot-col li > a {
  color: inherit;
  text-decoration: none;
  opacity: 0.6;
}

.foot-col li:hover > a {
  opacity: 0.8;
}

.foot-col p {
  font-size: 1.5rem;
  font-weight: 500;
  letter-spacing: 0.5px;
  padding: 0.5rem 0 0 2rem;
  opacity: 0.6;
}

.foot-row p {
  font-size: 1.25rem;
  font-weight: 400;
  letter-spacing: 1px;
}

.foot-row .socials img {
  height: 25px;
  width: auto;
  margin: 0 2px 0 2px;
}
