/**************************/
/* TESTIMONIALS SECTION */
/**************************/

.test-sec {
  display: flex;
  flex-direction: column;
  min-height: 82vh;
  width: 100%;
  overflow: hidden;
  background: #f5f5f5;
  color: #333437;
  font-family: "Playfair Display", serif;
}

.test-text {
  text-align: center;
  margin: 40px 0 20px;
}

.test-sub-heading {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.test-heading {
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -1.5px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.test-container {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 900px;
}

.test-row {
  position: relative;
  max-width: 900px;
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}

.test-row img {
  height: 170px;
  width: 170px;
  object-fit: contain;
  border-radius: 50%;
}

.test-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.test-quote {
  text-align: center;
  padding: 0 100px;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.test-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.test-name {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.test-title {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.nav-btn {
  height: 40px;
  width: 40px;
  background-color: #333437;
  border-radius: 50%;
  transform: translateY(15px);
}

.nav-btn:hover {
  background-color: #e1b711;
  transition: 0.2s;
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #f5f5f5;
}

.swiper-pagination-bullet {
  background-color: #333437;
}

.autoplay-progress {
  position: absolute;
  right: 6px;
  bottom: 0;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333437;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #ff6584;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.autoplay-progress span {
  color: #333437;
  font-size: 14px;
}
