/** Testimonials.css **/

:root {
  --primary-white: #f5f5f5;
  --secondary-dark-grey: #333437;
  --tertiary-light-grey: #909090;
  --tertiary-darker-grey: #4e4e4e;
  --accent-yellow: #e1b711;
  --accent-pink: #ff6584;
  --accent-blue: #4b77bc;
}

*,
*:before,
*:after,
html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.test-sec {
  background-color: #333437;
  color: #f5f5f5;
}

.test-container {
  display: flex;
  flex-direction: column;
  min-height: 75vh;
  max-width: 75%;
  margin: 0 auto 100px;
  font-family: "Cormorant Garamond", serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.test-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 50px;
}

.test-sec-line {
  width: 80px;
  height: 5px;
  background-color: var(--accent-pink);
  border-radius: 9px;
  margin-bottom: 1rem;
}

.test-sub-heading {
  font-size: clamp(1.6rem, 2.3vw, 3rem);
  font-weight: 600;
  line-height: 1.15;
  margin-bottom: 10px;
}

.test-heading {
  font-size: clamp(4rem, 5vw, 6.5rem);
  font-weight: 700;
  line-height: 1;
  margin-bottom: 40px;
}

.test-row {
  position: relative;
  max-width: 900px;
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}

.test-row img {
  height: 170px;
  width: 170px;
  object-fit: contain;
  border-radius: 50%;
}

.test-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.test-quote {
  text-align: center;
  padding: 0 100px;
  font-size: clamp(2rem, 1.8vw, 2.2rem);
  font-weight: 400;
  line-height: 1.15;
}

.test-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.test-name {
  font-size: clamp(2.2rem, 1.8vw, 3rem);
  font-weight: 800;
  line-height: 0.95;
  margin-bottom: 8px;
}

.test-title {
  font-size: clamp(2rem, 1.8vw, 2.2rem);
  font-weight: 400;
  line-height: 1.15;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.nav-btn {
  height: 40px;
  width: 40px;
  background-color: var(--tertiary-darker-grey);
  border-radius: 50%;
  transform: translateY(85px);
  opacity: 1;
}

.nav-btn:hover {
  background-color: var(--primary-white);
  transition: 0.2s;
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: var(--primary-white);
}

.nav-btn:hover::after,
.nav-btn:hover::before {
  color: var(--secondary-dark-grey);
}

.swiper-pagination-bullet {
  background-color: var(--primary-white);
}

.autoplay-progress {
  position: absolute;
  right: 6px;
  bottom: 0;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  font-weight: bold;
  font-family: "Crimson Pro", serif;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: var(--accent-pink);
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.progress-number {
  color: var(--primary-white);
  font-size: 14px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.progress-number--hidden {
  opacity: 0;
}

.pause {
  position: absolute;
  top: 13px;
  color: var(--primary-white);
  opacity: 1;
  transition: opacity 0.3s ease;
}

.pause--hidden {
  opacity: 0;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1168px) {
  .test-container {
    max-width: 90%;
  }
}

@media only screen and (max-width: 655px) {
  .nav-btn {
    opacity: 0;
  }
  .test-quote {
    padding: 0;
  }
}
