/** Testimonials.css **/

*,
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.test-sec {
  display: flex;
  flex-direction: column;
  min-height: 82vh;
  width: 100%;
  overflow: hidden;
  background: #f5f5f5;
  color: #333437;
  font-family: "Cormorant Garamond", serif;
}

.test-text {
  text-align: center;
  margin: 40px 0 20px;
}

.test-sec-line {
  width: 95px;
  height: 5px;
  background-color: #ff6584;
  border-radius: 9px;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.test-sub-heading {
  font-size: 3.2rem;
  font-weight: 600;
  letter-spacing: -1px;
}

.test-heading {
  font-size: 6rem;
  font-weight: 800;
  letter-spacing: -1.5px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.test-container {
  position: relative;
  justify-content: center;
  align-items: center;
  width: 900px;
  margin-bottom: 30px;
}

.test-row {
  position: relative;
  max-width: 900px;
  width: 100%;
  text-align: center;
  margin-bottom: 35px;
}

.test-row img {
  height: 170px;
  width: 170px;
  object-fit: contain;
  border-radius: 50%;
}

.test-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 30px;
}

.test-quote {
  text-align: center;
  padding: 0 100px;
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.5px;
  line-height: 1.2;
}

.test-details {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.test-name {
  font-size: 1.8rem;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.test-title {
  font-size: 1.7rem;
  font-weight: 500;
  letter-spacing: -0.5px;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}

.nav-btn {
  height: 40px;
  width: 40px;
  background-color: #333437;
  border-radius: 50%;
  transform: translateY(15px);
  opacity: 1;
}

.nav-btn:hover {
  background-color: #4b77bc;
  transition: 0.2s;
}

.nav-btn::after,
.nav-btn::before {
  font-size: 20px;
  color: #f5f5f5;
}

.swiper-pagination-bullet {
  background-color: #333437;
}

.autoplay-progress {
  position: absolute;
  right: 6px;
  bottom: 0;
  z-index: 10;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: #333437;
  font-family: "Crimson Pro", serif;
}

.autoplay-progress svg {
  --progress: 0;
  position: absolute;
  left: 0;
  top: 0px;
  z-index: 10;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: #ff6584;
  fill: none;
  stroke-dashoffset: calc(125.6 * (1 - var(--progress)));
  stroke-dasharray: 125.6;
  transform: rotate(-90deg);
}

.progress-number {
  color: #333437;
  font-size: 14px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.progress-number--hidden {
  opacity: 0;
}

.pause {
  position: absolute;
  top: 12px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.pause--hidden {
  opacity: 0;
}

/* RESPONSIVENESS */

@media only screen and (max-width: 1622px) {
  .test-sub-heading {
    font-size: 3.1rem;
  }
  .test-heading {
    font-size: 7.2rem;
  }
  .test-quote {
    font-size: 2.7rem;
  }
  .test-name {
    font-size: 1.7rem;
  }
  .test-title {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 1494px) {
  .test-sub-heading {
    font-size: 3rem;
  }
  .test-heading {
    font-size: 6.8rem;
  }
  .test-quote {
    font-size: 2.6rem;
  }
  .test-name {
    font-size: 1.6rem;
  }
  .test-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 1305px) {
  .test-sub-heading {
    font-size: 2.9rem;
  }
  .test-heading {
    font-size: 6.2rem;
  }
  .test-quote {
    font-size: 2.4rem;
  }
  .test-name {
    font-size: 1.5rem;
  }
  .test-title {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 1142px) {
  .test-sub-heading {
    font-size: 2.8rem;
  }
  .test-heading {
    font-size: 6rem;
  }
  .test-quote {
    font-size: 2.2rem;
  }
  .test-name {
    font-size: 1.4rem;
  }
  .test-title {
    font-size: 1.3rem;
  }
}

@media only screen and (max-width: 998px) {
  .test-container {
    width: 700px;
  }
  .test-row {
    max-width: 700px;
  }
  .test-box {
    row-gap: 25px;
  }
  .nav-btn {
    opacity: 0;
  }
  .test-quote {
    padding: 0;
  }
  .test-sub-heading {
    font-size: 3rem;
  }
  .test-heading {
    font-size: 6.6rem;
  }
  .test-quote {
    font-size: 2.6rem;
  }
  .test-name {
    font-size: 1.8rem;
  }
  .test-title {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 772px) {
  .test-container {
    width: 600px;
  }
  .test-row {
    max-width: 600px;
  }
  .test-box {
    row-gap: 20px;
  }
  .test-sub-heading {
    font-size: 2.8rem;
  }
  .test-heading {
    font-size: 6.2rem;
  }
  .test-quote {
    font-size: 2.4rem;
  }
  .test-name {
    font-size: 1.8rem;
  }
  .test-title {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 626px) {
  .test-container {
    width: 500px;
  }
  .test-row {
    max-width: 500px;
  }
  .test-box {
    row-gap: 15px;
  }
  .test-sub-heading {
    font-size: 2.4rem;
  }
  .test-heading {
    font-size: 5.2rem;
  }
  .test-quote {
    font-size: 2rem;
  }
  .test-name {
    font-size: 1.7rem;
  }
  .test-title {
    font-size: 1.6rem;
  }
}

@media only screen and (max-width: 508px) {
  .test-container {
    width: 400px;
  }
  .test-row {
    max-width: 400px;
  }
  .test-box {
    row-gap: 0;
  }
  .test-sub-heading {
    font-size: 2.3rem;
  }
  .test-heading {
    font-size: 4.4rem;
  }
  .test-quote {
    font-size: 1.8rem;
  }
  .test-name {
    font-size: 1.6rem;
  }
  .test-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 435px) {
  .test-container {
    width: 350px;
  }
  .test-row {
    max-width: 350px;
  }
  .test-sub-heading {
    font-size: 2.1rem;
  }
  .test-heading {
    font-size: 5rem;
  }
  .test-quote {
    font-size: 1.9rem;
  }
  .test-name {
    font-size: 1.6rem;
  }
  .test-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 390px) {
  .test-container {
    width: 300px;
  }
  .test-row {
    max-width: 300px;
  }
  .test-sub-heading {
    font-size: 2rem;
  }
  .test-heading {
    font-size: 5rem;
  }
  .test-quote {
    font-size: 1.4rem;
  }
  .test-name {
    font-size: 1.6rem;
  }
  .test-title {
    font-size: 1.5rem;
  }
}

@media only screen and (max-width: 372px) {
  .test-container {
    width: 275px;
  }
  .test-row {
    max-width: 275px;
  }
  .test-sub-heading {
    font-size: 1.9rem;
  }
  .test-heading {
    font-size: 4.8rem;
  }
  .test-quote {
    font-size: 1.6rem;
  }
  .test-name {
    font-size: 1.5rem;
  }
  .test-title {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 284px) {
  .test-container {
    width: 250px;
  }
  .test-row {
    max-width: 250px;
  }
  .test-sub-heading {
    font-size: 1.5rem;
  }
  .test-heading {
    font-size: 4.2rem;
  }
  .test-quote {
    font-size: 1.3rem;
  }
  .test-name {
    font-size: 1.2rem;
  }
  .test-title {
    font-size: 1.1rem;
  }
}
