/**************************/
/* ABOUT ME SECTION */
/**************************/

.about-container {
  padding: 8rem 12rem 12rem 12rem;
  background-color: #243d52;
  color: #f2f2f2;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
.about-header {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  margin: 20px auto;
}

.about-header h1 {
  font-size: 50px;
  margin-bottom: 25px;
  position: relative;
  color: #f2f2f2;
}

/* Same as 'hr' tag */
.about-header h1::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  display: block;
  margin: 0 auto;
  background-color: #f2f2f2;
}

.about-header p {
  font-size: 18px;
  margin-bottom: 35px;
  color: #9fadb9;
}

.about-main-wrapper {
  width: 80%;
  margin: 0 auto;
  padding: 10px 20px;
}

.about-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.about-main-left {
  flex: 1;
  margin: 0 0 40px 30px;
  overflow: hidden;
}

.about-main-left img {
  max-width: 100%;
  height: auto;
  display: block;
}

.about-main-right {
  flex: 1;
}

.about-main-right h2 {
  font-size: 24px;
  margin-bottom: 14px;
  color: #f2f2f2;
}

.about-main-right p {
  font-size: 18px;
  line-height: 1.5;
  color: #9fadb9;
}

.about-icons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 35px;
  padding: 10px 20px;
  margin-top: 15px;
}

.left-icon img,
.right-icon img {
  width: 80px;
}

.left-icon,
.right-icon {
  display: flex;
}

.left-icon span,
.right-icon span {
  margin-top: 0.5rem;
  font-size: 1.4rem;
  text-align: center;
}
